.chatMessage {
  &_con {
    display: flex;
    flex-direction: column;
    padding: 1% 2% 1% 5%;
  }

  &_msg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
  }

  &_text {
    overflow-wrap: anywhere;
    margin: 0 5px 2px 5px;
    font-size: medium;
    border-radius: 10px;
    padding: 2px 5px;
    text-align: left;
    align-self: center;
  }

  &_avatar {
    align-self: flex-end;
  }

  &_sent {
    background-color: #dcf8c6;
  }

  &_received {
    background-color: #ece5dd;
  }

  &_left {
    align-self: flex-start;
  }

  &_right {
    align-self: flex-end;
  }

}





