.chatMessage {
  &_con {
    display: flex;
    flex-direction: column;

  }

  &_msg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    max-width: 350px;
    border-radius: 15px;
    margin: 5px 0 5px 0;
    font-size: 20px;
  }

  &_text {
    overflow-wrap: anywhere;
    margin: 0 5px 2px 5px;
    border-radius: 10px;
    padding: 2px 5px;
    text-align: left;
  }

  &_avatar {
    align-self: flex-end;
  }

  &_sent {
    background-color: #dcf8c6;
  }

  &_received {
    background-color: #ece5dd;
  }

  &_left {
    align-self: flex-start;
  }

  &_right {
    align-self: flex-end;
  }

}





