.chatHeader {
  &_con {
    display:flex;
    justify-content:center;
    background-color: rgba(52, 183, 241, 0.7);
    border-radius: 10px 10px 0  0 ;
    padding: 0 15px 0 15px;
    min-height: 50px;
    flex-shrink: 0;
  }

  &_title {
    flex:1;
    display: flex;
    justify-content: center;
    opacity: 100%;
  }

  &_empty {
    width: 90px;
    align-self: center;
  }
  &_options {
    padding: 3px 0 0 0;
    width: 90px;
  }

}





