.chatRoom {
  &_con {
    display: flex;
    //align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;


    background-color: #7f7f7f;
    border-radius: 15px;
    margin: 10px 0 10px 0;

  }
  &_msgWin {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #7f7f7f;
    min-height: 600px;
    border-radius: 20px;
    padding: 3px 5px 5px 10px;
    min-width: 400px;

  }


}





