.footer {
  &_con {
    background: #3f51b5;
    display: flex;
    justify-content: center;
    //width: -webkit-fill-available;

    .underConstruction_div{
      padding: 10px;
      display: flex;
    }
    .underConstruction_icon{
      padding: 0 5px;
      display: flex;
      align-items: center;
    }
  }

}
