
.chatRoom {

  &_con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    border-radius: 15px;
    margin: 10px 0 10px 0;
  }

  &_msgWin {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 700px;
    border-radius: 20px;
    padding: 3px 5px 5px 10px;
    min-width: 400px;

  }


}





